DEBUG_LOG=true

DB_TYPE=sqlite
DATABASE_URL=test.db
PORT=8080
APP_ENV=development
JWT_SECRET=0000000000000000000000000000000000000000000000000000000000000000000000000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
IMAP_HOST=imap.gmail.com
IMAP_PORT=993
EMAIL_FROM_NAME=BizmoPol CRM
EMAIL_FROM=your-email@gmail.com

